<div class="form">
  <div class="row">
    <h5 class="text-center">Book this flat</h5>
    <div class="col-xs-10 col-xs-offset-1">
      <form action="">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="first-name"></label>
              <input type="text" class="form-control" id="first-name" placeholder="Check-in">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="last-name"></label>
              <input type="text" class="form-control" id="last-name" placeholder="Check-out">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="how"></label>
            <select id="how-know-us" class="form-control" placeholder="1 guest">
              <option value="one-guest">1 guest</option>
              <option value="two-guests">2 guests</option>
              <option value="three-guests">3 guests</option>
            </select>
        </div>
        <input type="submit" value="Book it" class="col-xs-6 col-xs-offset-3 btn-yours">
      </form>
    </div>
  </div>
</div>
