// Define variables for your color scheme

// For example:
$red: #CF0A2C;
$blue: #00649F;
$yellow: #FFC93C;
$orange: #FF6F3C;
$green: #2EB872;
$gray: #928B8B;
$light-gray: #E6E6E6;
$black: #000000;
$white: #FFFFFF;
